h1 {
    color: #333;
    text-align: left;
    text-justify: auto;
    text-decoration: underline;
}

body {
    background-color: whitesmoke;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.auth {
    border: 1px solid;
    color: whitesmoke;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub {
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    overflow: hidden;
    background-color: #333;
    margin-left: 15%;
    margin-right: 15%;
}

/* Navbar links */
nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

.wrapper {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
}

form {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

form label#color {
    margin-left: 5%;
}

form label#title {
    font-weight: bold;
    font-size: medium;
}

form label {
    margin-top: 5px;
}

#btnSubmit {
    align-items: center;

}

input[type=submit] {
    background-color: #333;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}


.wrapper {
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.wrapper select {
    margin-top: 5px;
    margin-bottom: 5px;
}

#test {
    align-items: left;
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    border-color: #333;
    border-style: solid;

}

#test1 {
    color: #333;
    margin-left: 5%;
}

#test1 label {
    color: #333;
    font-weight: bold;
    font-size: medium;
}

#description {
    white-space: normal;
    text-align: left;

}

.card_name {
    text-decoration: none;
}

.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}