h1 {
    color: #333;
    text-align: left;
    text-justify: auto;
    text-decoration: underline;
}

body {
    padding-left: 10px;
    padding-right: 5px;
    background-color: whitesmoke;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sub {
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    overflow: hidden;
    background-color: #333;

}

/* Navbar links */
nav #nav-text{
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
nav #nav-text:hover {
    background-color: whitesmoke;
    color: black;
}

.form_display {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-top: 1%;
    margin-left: 15%;
}


.about_text {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.form_display label#color {
    margin-left: 6%;
}

.form_display label#title {
    font-weight: bold;
    font-size: medium;
}


#btnSubmit {
    align-items: center;
}
#btnSubmit input[type=submit]:hover {
    background-color: whitesmoke;
    color: black;
}


input[type=submit] {
    background-color: #333;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#card_img {
    align-items: left;
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    border-color: #333;
    border-style: solid;

}


.card-text{
    font-weight: bold;
    font-size: medium;
}
.card-text *{
    font-weight: normal;
}
.card_name {
    text-decoration: none;
}

